.seeds-card {
  height: 300px;
  background: #F2F4F7;
  padding: 10%;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: 0.3s ease;
}

.seeds-card:hover {
  height: 300px;
  background: #7ab7740d;
  box-shadow: 0 0 18px #7ab774;
  padding: 10%;
  border-radius: 20px;
}

.seeds-card-header {
  display: flex;
  align-items: baseline;
  position: relative;
}

.seeds-card-title {
  font-weight: 500;
  font-size: 30px;
  color: #0e6837;
  margin: 0 20px;
  line-height: 35px;
}

.seeds-card-value {
  font-size: 16px;
  color: #c7c7c7;
  line-height: 33px;
}

.seeds-card-action {
  position: absolute;
  right: 0;
  top: 19%;
  color: #c7c7c7;
}

.seeds-card-balance {
  font-weight: 500;
  font-size: 50px;
  color: #000000;
  margin: 10% 0 0 0;
}

.seeds-card-balance-caption {
  font-weight: 500;
  font-size: 18px;
  color: #67676b;
}

.seeds-card-balancereward {
  font-weight: 500;
  font-size: 18px;
  color: #c7c7c7;
}

.seeds-card-balance-reward-value {
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}
