<div id="modal-content-wrapper">
  <header id="modal-header">
    <span class="modal-title">{{ title }}</span>
    <select name="transactionRange" id="transactionRange" class="select-range" (change)="sendMessage($event)">
      <option value="all">All transactions</option>
      <option value="month">Last month</option>
      <option value="90">Last 90 days</option>
    </select>
    <input class="search-input" type="text" (change)="onChangeDescription($event)" [value]="descriptionFilter" />
    <button class="search-button" type="button" (click)="sendMessage($event)">
      Filter
    </button>
  </header>
  <section id="modal-body">
    <app-table class="table" [notifications]="notifications" [serviceurl]="serviceurl"></app-table>
  </section>
  <footer id="modal-footer">
    <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">Close</button>
  </footer>
</div>
