#transfer-money-holder {
  position: relative;
}
.my-counter {
  background: #fff;
  border: 2px solid #0e6837;
  border-radius: 0.9em;
  color: #0e6837;
  display: inline-block;
  font-weight: 700;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.8em;
  position: absolute;
  left: -15px;
  top: -13px;
}
